<%= form_for @note do |f| %>


    <fieldset>
    <div class="form-group mt-3" style="display:flex;">
        <div class="col-sm-2 col-form-label"><%= f.label :title %></div>
        <div class="col-sm-4">
          <div><%= f.text_field :title %></div>
        </div>
    </div>
    </fieldset>

    <fieldset>
    <div class="form-group" style="display:flex;">
        <div class="col-sm-2 col-form-label"><%= f.label :detail %></div>
        <div class="col-sm-8">
          <div><%= f.text_area :detail, rows: "6", class: "col-sm-6" %></div>
        </div>
    </div>
    </fieldset>

    <fieldset>
    <div class="form-group" style="display:flex;">
        <div class="col-sm-2 col-form-label"><%= f.label :image %></div>
        <div class="col-sm-4">
          <div><%= f.text_field :image %></div>
        </div>
    </div>
    </fieldset>

    <fieldset>
    <div class="form-group" style="display:flex;">
        <% options = options_from_collection_for_select(@days, 'id' , 'date') %>
        <div class="col-sm-2 col-form-label"><%= f.label :day_id %></div>
        <div class="col-sm-4">
          <div><%= f.select :day_id, options, :include_blank => true %></div>
        </div>
    </div>
    </fieldset>

    <%= f.submit %>

<% end %>
