<h1>Notes_Index</h1>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<h1>Page with slick</h1>

<div class="scroller">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>

  <!-- <a href="/home">Home</a> | <a href="/notes/new">New Note</a>
  <div class="item" style="background-color: indianred;">
    <% @notes.each do |note| %>

       <p><a href="/notes/<%= note.id %>">LINK</a><br>
          ID: <%= note.id %> <br>
          Title: <%= note.title %> <br>
          Details: <%= note.detail %> <br>
          Image: <%= note.image %><br>
          Assc Day: <%= note.day.date.strftime("%A %d %B, %Y") if note.day.present? %></p>

    <% end %>

</div> -->
