<h1>Note_Index</h1>

<a href="/home">Home</a> | <a href="/notes/new">New Note</a>



<div class="row">
  <div class="col-md-12">


<h3>Miscellaneous</h3>
<div class="rollerdex">

<% @misc.each do |note| %>

  <div class="index-item" style="background-image: url(<%= note.image %>); background-size: cover; ">
    <div class="item-info"><h3><%= note.title %></h3><h6>   <%= note.created_at %></h6></div>
  </div>

<% end %>

</div>



<% @days.each do |day| %>



      <h3><%= day.date.strftime("%d %B %Y")  %></h3><hr>

      <div class="rollerdex">

        <% day.notes.each do |note| %>

              <div class="index-item" style="background-image: url(<%= note.image %>); background-size: cover; ">
              <div class="item-info"><h3><%= note.title %></h3><h6>   <%= note.day.date %></h6></div>
              </div>

        <% end %>

      </div>
      
<% end %>
