<h1>Notes_Show_Index: <%= @note.id %></h1>

<div class="container">
  <a href="/home">Home</a> |
  <a href="/notes/new">New Note</a> |
  <a href="/notes/<%= @note.id %>/edit">Edit Note</a> |
  <%= link_to "Delete Note", note_path(@note), method: :delete, data: { confirm: "Are you sure?"} %>
  <div class="item" style="background-color: indianred;">


       <p>
          ID: <%= @note.id %> <br>
          Title: <%= @note.title %> <br>
          Details: <%= @note.detail %> <br>
          Image: <%= @note.image %><br>
          Assc Day?: <%= @note.day.date if @note.day.present? %></p><br>

  </div>
</div>
