<h1>Tasks_Index</h1>

<a href="/home">Home</a> | <a href="/tasks/new">New Task</a>

<div class="row">
  <div class="col-md-12">

<h3>Miscellaneous</h3>
<div class="rollerdex">

<% @misc.each do |task| %>

  <div class="index-item" style="background-color:rgba(66, 244, 107, 0.5);">
    <div class="item-info"><h3><%= task.name %></h3><h6>   <%= task.created_at %></h6></div>
  </div>

<% end %>

</div>

<% @days.each do |day| %>


      <h3><%= day.date.strftime("%d %B %Y")  %></h3><hr>

      <div class="rollerdex">

        <% day.tasks.each do |task| %>

              <a href="/tasks/<%= task.id %>">
              <div class="index-item" style="background-color:rgba(66, 244, 107, 0.5);">
              <div class="item-info"><h3><%= task.name %></h3><h6>   <%= task.day.date %></h6></div>
              </div>
              </a>

        <% end %>

      </div>

<% end %>
