<% if flash[:errors] %>
  <strong>Please correct the following errors:</strong>
  <ol>
  <% flash[:errors].each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ol>
<% end %>

<div class="form-horizontal">
<%= form_for @user do |f| %>

        <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>
        </fieldset>
        <br>
        <fieldset>
        <%= f.label :email %>
        <%= f.text_field :email %>
        </fieldset>
        <br>
        <fieldset >
        <%= f.label :password %>
        <%= f.password_field :password %>
        </fieldset>
        <br>
        <fieldset >
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </fieldset>
      </div>
    <br>
      <%= f.submit %>

<% end %>
</div>
