<% if flash[:errors] %>
  <strong>Please correct the following errors:</strong>
  <ol>
  <% flash[:errors].each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>

<form class="m-3">

        <fieldset>
          <div class="form-group" style="display:flex;">
            <div class="col-sm-4 col-form-label"><%= f.label :name %></div>
            <div class="col-sm-6">
              <div><%= f.text_field :name %> </div>
            </div>
          </div>
          </fieldset>

          <fieldset>
          <div class="form-group" style="display:flex;">
              <div class="col-sm-4 col-form-label"><%= f.label :email %></div>
              <div class="col-sm-6">
                <div><%= f.text_field :email %></div>
              </div>
          </div>
          </fieldset>

          <fieldset>
          <div class="form-group" style="display:flex;">
              <div class="col-sm-4 col-form-label"><%= f.label :password %></div>
              <div class="col-sm-6">
                <div><%= f.password_field :password %></div>
              </div>
          </div>
          </fieldset>

          <fieldset>
          <div class="form-group" style="display:flex;">
              <div class="col-sm-4 col-form-label"><%= f.label :password_confirmation %></div>
              <div class="col-sm-6">
                <div><%= f.password_field :password_confirmation %></div>
              </div>
          </div>
          </fieldset>

      <%= f.submit %>
</form>

<% end %>
