

<div class="container">

  <h1>Days_Home</h1>

  <div class="row">
    <div class="col-sm-4">
    <button type="button" class="btn btn-outline-primary big-button" style="height: 100%; width: 100%;"><a href="/days/today">Today</a></button>




    </div>
    <div class="col-sm-8">
      <div>
      <img src="https://source.unsplash.com/kYA0DBZnLOY" alt="" style="width: 100%; height: 100%; ">
      </div>
    </div>

  </div>

  <div class="row top-buffer" style="margin-top: 20px;" >
      <div class="col-sm-6">
        </div>
  <div class=" col-sm-6">
        <button type="button" class="btn btn-outline-primary btn-sm"><a href="/days">Days</a></button>
        |
        <button type="button" class="btn btn-outline-success btn-sm"><a href="/tasks">Tasks</a></button>
        <button type="button" class="btn btn-outline-success btn-sm"><a href="/tasks/new">New Task</a></button>
        |
        <button type="button" class="btn btn-outline-warning btn-sm"><a href="/notes">Notes</a></button>
        <button type="button" class="btn btn-outline-warning btn-sm"><a href="/notes/new">New Note</a></button>
    </div>
  </div>



<!--


  <div class="item" style="background-color: mistyrose;">
    <% @days.reverse.each do |day| %>

        <p>ID: <%= day.id %> <br>
          Date: <%= day.date %> <br>
          Jounral: <%= truncate(day.journal, :length => 80)%> <br>
          Image: <%= truncate(day.image, :length => 60) %></p>

    <% end %>
  </div>
  <div class="item" style="background-color: limegreen;">
    <% @tasks.each do |task| %>

        <p>ID: <%= task.id %> <br>
          Name: <%= task.name %> <br>
          Description: <%= truncate(task.description, :length => 60)%> <br>
          Importance: <%= truncate(task.importance, :length => 60) %></p>

    <% end %>
  </div>
  <div class="item" style="background-color: indianred;">
    <% @notes.each do |note| %>

        <p>ID: <%= note.id %> <br>
          Title: <%= note.title %> <br>
          Details: <%= truncate(note.detail, :length => 60) %> <br>
          Image: <%= truncate(note.image, :length => 60) %></p>

    <% end %>
  </div> -->
</div>
