



  <h1>Days_Index</h1>

    <div class="m-3">
   <%= link_to "Home", home_path %> | <%= link_to "Today", days_today_path %> | <%= link_to 'New Day', new_day_path%>
    </div>  

    <% if @days.present? %>

        <div class="rollerdex m-3">

          <% @days.each do |day| %>

                    <a href="/days/<%= day.id %>">
                    <div class="index-item" style="background-image: url(<%= day.image %>); background-size: cover; ">
                    <div class="item-info"><h3><%= day.date.strftime("%d %B %Y") %></h3></div>
                    </div>
                    </a>

          <% end %>

          </div>


    <% end %>
