



  <h1>Days_Index</h1>

   <%= link_to "Home", home_path, class: "m-3 d-block" %>

   <%= link_to "Today", days_today_path, class: "m-3 d-block" %>

   <%= link_to 'New Day', new_day_path, class: "m-3 d-block" %>


    <% if @days.present? %>

        <div class="rollerdex">

          <% @days.each do |day| %>

                    <a href="/days/<%= day.id %>">
                    <div class="index-item" style="background-image: url(<%= day.image %>); background-size: cover; ">
                    <div class="item-info"><h3><%= day.date.strftime("%d %B %Y") %></h3></div>
                    </div>
                    </a>

          <% end %>

          </div>


    <% end %>
